@using ZPWEB.Models
@using ZPWEB.ViewModel
@model PaymentDetailsSaveVM

@{
    var instractor = ViewBag.Method;
}
<div class="container mt-3">
    <form asp-action="Save" id="myForm" method="post" enctype="multipart/form-data">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-around align-items-center">
                <strong class="mb-0">Enrollment Information</strong>
                <a class="btn btn-primary btn-sm" asp-action="Index">Enrollment Student</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- Left Column -->
                    <div class="col-md-6 border-end">
                        <div class="mb-3 row">
                            <label asp-for="PaymentDetail.Code" class="col-sm-4 col-form-label">Code</label>
                            <div class="col-sm-8">
                                <input asp-for="PaymentDetail.Code" class="form-control" id="code" readonly>
                                <span asp-validation-for="PaymentDetail.Code" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label asp-for="PaymentDetail.PaymentDate" class="col-sm-4 col-form-label">Date</label>
                            <div class="col-sm-8">
                                <input type="text" asp-for="PaymentDetail.PaymentDate" class="form-control" id="enrollDate"
                                       value="@DateTime.Now.ToString("dd-MM-yyyy")">
                                <span asp-validation-for="PaymentDetail.PaymentDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label asp-for="PaymentDetail.EnrollmentId" class="col-sm-4 col-form-label">Enrole Id</label>
                            <div class="col-sm-8">
                                <select id="enrollmentId" asp-for="PaymentDetail.EnrollmentId" class="form-control course-dropdown"
                                        asp-items="@(new SelectList(Model.Enrollments, "Id", "Id"))">
                                    <option value="">---Select Enroll Id---</option>
                                </select>
                                <span asp-validation-for="PaymentDetail.EnrollmentId" class="text-danger"></span>
                            </div>
                        </div> 

                        <div class="mb-3 row">
                            <label asp-for="PaymentDetail.PaymentMethod" class="col-sm-4 col-form-label">P. Method</label>
                            <div class="col-sm-8">
                                <select id="studentId" asp-for="PaymentDetail.PaymentMethod" class="form-control student-dropdown"
                                        asp-items="@(new SelectList(Model.Methods, "Id", "Name"))">
                                    <option value="">---Select Method---</option>
                                </select>
                                <span asp-validation-for="PaymentDetail.PaymentMethod" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <!-- Right Column -->
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label  class="col-sm-4 col-form-label">Total Due</label>
                            <div class="col-sm-8">
                                <input type="number" name="totalDue" id="totalDue" class="form-control" value="0" />
                                @* <span asp-validation-for="Enrollment.TotalFee" class="text-danger"></span> *@
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label asp-for="PaymentDetail.Amount" class="col-sm-4 col-form-label">Paid Amount</label>
                            <div class="col-sm-8">
                                <input type="number" asp-for="PaymentDetail.Amount" id="paidAmount" class="form-control" value="0" />
                                <span asp-validation-for="PaymentDetail.Amount" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label  class="col-sm-4 col-form-label">Due Amount</label>
                            <div class="col-sm-8">
                                <input type="number" id="dueAmount" class="form-control" readonly value="0" />
                                @* <span asp-validation-for="Enrollment.DueAmount" class="text-danger"></span> *@
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label asp-for="PaymentDetail.TransactionId" class="col-sm-4 col-form-label">Transaction Number</label>
                            <div class="col-sm-8">
                                <input asp-for="PaymentDetail.TransactionId" class="form-control" />
                                <span asp-validation-for="PaymentDetail.TransactionId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="d-flex justify-content-end gap-2 mt-3">
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="submit" class="btn btn-warning">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){





        $("#enrollDate").datepicker({ dateFormat: "dd-mm-yy", changeMonth: true, changeYear: true });
        // Select2 init
        $(".course-dropdown,.student-dropdown,.schedule-dropdownn").select2({ width: '100%', allowClear: true });
        $(document).on('select2:open', () => { document.querySelector('.select2-search__field').focus(); });

        $("#myForm").on('submit',function(){
            var name=$("#cName").val().trim();


            var offset=20;
            var container=$("body");

            if(name==="")offset=createAlert("❌ Name is Required",container,offset)

               if($(".field-alert").length >0) return false;
               this.submit();
        });

       function updateDueAmount() {
        var totalDue = parseFloat($("#totalDue").val()) || 0;
        var paidAmount = parseFloat($("#paidAmount").val()) || 0;
        var dueAmount = totalDue - paidAmount;
        $("#dueAmount").val(dueAmount.toFixed(0));
       }

      $('#enrollmentId').on('change', function(){
            var id = $(this).val();
            if(id){
                $.get('/PaymentDetail/GetEnrollmentLastDue', { enrollmentId: id }, function(dueAmt){
                    $('#totalDue').val(dueAmt);
                    updateDueAmount();
                });
            } else {
                $('#totalDue').val(0);
                updateDueAmount();
            }
      });

        $("#totalDue, #paidAmount").on("input", updateDueAmount);

        $("#totalDue, #paidAmount").on("focus", function(){
            $(this).select();
        });

    })
</script>