@using ZPWEB.Models
@model Instractor

@{
    var instractor = ViewBag.Instractor;
}
<div class="container-fluid mt-3">
    <form asp-action="Save" id="myForm" method="post">
        <div class="row d-flex justify-content-center">
            <!-- Left Column -->
            <div class="col-md-6">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong>Instractor Information</strong>
                        <a class="btn btn-primary btn-sm" asp-action="Index">Exesting Instractor</a>
                    </div>
                    <div class="card-body">

                        <!-- Customer Name -->
                        <div class="mb-3 row">
                            <label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input asp-for="Name" class="form-control" id="cName">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="mb-3 row">
                            <label asp-for="Address" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input asp-for="Address" class="form-control" id="address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Contact No -->
                        <div class="mb-3 row">
                            <label asp-for="ContactNo" class="col-sm-3 col-form-label">Contact No</label>
                            <div class="col-sm-9">
                                <input asp-for="ContactNo" class="form-control" id="contactno">
                                <span asp-validation-for="ContactNo" class="text-danger"></span>
                            </div>
                        </div>

                       
                        <!-- Buttons -->
                        <div class="d-flex justify-content-end gap-2">
                            <button type="reset" class="btn btn-danger">Reset</button>
                            <button type="submit" class="btn btn-warning">Save</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
