@{
    var username = User.Identity?.Name; 
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    @if (username == "admin")
    {

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="bi bi-calendar-check"></i>

                <p>
                    Basic
                    <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
            </a>


            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Instractor" asp-action="Index" class="nav-link">
                        <i class="ms-4 bi bi-people"></i>
                        <p>Instractor List</p>
                    </a>
                </li>

            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Course" asp-action="Index" class="nav-link">
                        <i class="ms-4 bi bi-easel"></i>
                        <p>Course List</p>
                    </a>
                </li>

            </ul>


            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Method" asp-action="Index" class="nav-link">
                        <i class="ms-4 bi bi-cash"></i>
                        <p>Payment Method</p>
                    </a>
                </li>

            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Schedule" asp-action="Index" class="nav-link">
                        <i class="ms-4 bi bi-stopwatch"></i>
                        <p>Class Schedule</p>
                    </a>
                </li>

            </ul>

        </li>


    }
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="bi bi-person"></i>

                <p>
                    User
                    <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
            </a>




            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link">
                        <i class="ms-4 bi bi-door-open"></i>
                        <p>LogOut</p>
                    </a>
                </li>

            </ul>

        </li>
   
}