@model ZPWEB.ViewModels.IPagedResult

<ul class="pagination pagination-sm m-0 float-end">
    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
        <a class="page-link" href="?page=@(Model.CurrentPage - 1)&pageSize=@Model.PageSize">Previous</a>
    </li>

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
            <a class="page-link" href="?page=@i&pageSize=@Model.PageSize">@i</a>
        </li>
    }

    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
        <a class="page-link" href="?page=@(Model.CurrentPage + 1)&pageSize=@Model.PageSize">Next</a>
    </li>
</ul>
